.navbar{
color: white;
}

h1{
    text-align: center !important;
    margin-left: 35%;
}

#search{
    margin: 0px !important;
}

#container{
margin: 30px 60px !important;
}
.input-group {
    position: fixed;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    width: 250px !important;
}

textarea {
    overflow: auto;
    resize: vertical;
    margin: 10px 15px;
}
.list-group-item{
    border-top-width: 0;
    width: 250px;
}
#text {
    margin: -37px 250px;
    padding: 100px 457px;
}
#row1, #row2 {
    margin: 30px 0px !important;
    height: 300px;
    margin: 0px 60px;
    background-color: white;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
#row1{
    line-height: 2.5;
    height: 300px;
    border: 1px solid #e2e1e1;
    background-color: white;
    padding: 20px 30px;
}
.h3, h3 {
    font-size: 1.5rem;
    margin-left: 300px;
}

   
.rounded {
    line-height: 2;
    margin-right: 29px;
    border: 1px solid grey;
    background: #31b6f3;
    height:150px;
}

#row2 {
    height: 300px;
    background-color: white;
}
.date{
    text-align: 0;
}
.h3, h3 {
    font-size: 1.75rem;
    margin-left: 0;
}

#cityDate{
    display: inline-block;
}